/JavaExample2_4/nbproject/private/
/JavaExample2_4/build/
/JavaExample2_8/nbproject/private/
/JavaExample2_8/build/
/JavaExample2_9/nbproject/private/
/JavaExample2_9/build/
/JavaExample2_11/nbproject/private/
/JavaExample2_13/nbproject/private/
/JavaExample2_13/build/
/JavaExample2_16/nbproject/private/
/JavaExample2_16/build/
/JavaExample2_17/nbproject/private/
/JavaExample2_17/build/
/3_3_Age/nbproject/private/
/JavaExample3_3_Age/nbproject/private/
/JavaExample3_3_Age/build/
/JavaExample3_4_CircileArea/nbproject/private/
/JavaExample3_4_CircileArea/build/
/JavaExample3_5_Division/nbproject/private/
/JavaExample3_5_Division/build/
/JavaExample3_6_TestRate/nbproject/private/
/JavaExample3_6_TestRate/build/
/JavaExample3_7_TestGrade/nbproject/private/
/JavaExample3_7_TestGrade/build/
/JavaExample3_8_minofthree/nbproject/private/
/JavaExample3_8_minofthree/build/
/JavaExample3_9_TestResults/nbproject/private/
/JavaExample3_9_TestResults/build/
/JavaExample3_10_SwitchDemo/nbproject/private/
/JavaExample3_10_SwitchDemo/build/